@import '../../../../colors.scss';

.nombre-lista{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    p{
        width:80%;
        overflow-wrap:break-word;
    }
}

.cerrar{
    all:unset;
    border-radius: 3px;
    padding:0.7em 0.9em;
    font-size: 75%;
    cursor: pointer;
    opacity:80%;
    margin-bottom: 0.4em;
    height:100%;
}

.cerrar:hover{
    opacity:100%;
    background-color: $neutro;
}

@media (max-width:768px){
    .cerrar{
        padding:0.7em 0.3em;
    }
}