/*default*/
$muyclaro:#F5F5F5;
$claro:#e6e6e6;
$neutro:#c5c2c2;
$oscuro:#A4A4A4;
$muyoscuro:#172b4d;
$boton: #5aac44;

/*modo naranja*/
/*
$muyclaro:#FAB758;
$claro:#FF8803;
$neutro:#FA4D00;
$oscuro:#AE1900;
$muyoscuro:#000009;
$boton: #000000;
*/

/*modo verde*/
/*
$muyclaro:#C5FFCB;
$claro:#A5EB3C;
$neutro:#53DB50;
$oscuro:#60C21E;
$muyoscuro:#159E31;
$boton: #000000;
*/